.idea/
/node_modules
/temp
/styles/*.css
/js/unison-components.js
/js/unison-components.js
!/framework-customizations/extensions/shortcodes/shortcodes/example-component
/framework-customizations/extensions/shortcodes/shortcodes