.btn {
  font-size: 1rem;
  padding: 8px 18px;
  width: 100%;
  max-width: 240px;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;

  &:hover {
    background: $color-special;
    color: #fff;
  }
}

.btn-secondary {
  background-color: $color-special;
  color: #fff;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}