.btn {
  font-size: 1rem;
  padding: .7em .2em;
  width: 100%;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;

  &:hover {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,.3);
  }

  @media (min-width: $screen-sm) {
    max-width: 240px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
}

.btn-secondary {
  color: $color-primary;
  background-color: $color-secondary;
}