* {
  box-sizing: border-box;
}

body, html {
  font: 14px/1.4 $font-family-content;
  color: $text-color-default;
  
  @media (min-width: $screen-md) {
    font-size: 16px;
  }

  @media (min-width: $screen-xl) {
    font-size: 18px;
  }
}

a {
  font-weight: normal;
  text-decoration: none;
  color: $color-special;
  transition: .32s;

  &:hover {
    color: $color-secondary;
  }
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-family-title;
  color: $color-primary;
}

figure {
  margin: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bold;
  color: $color-primary;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote {
  quotes: "" "";
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}

/*--------------------------------------------------------------
Tables
--------------------------------------------------------------*/

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

table {
  text-align: center;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  background: $color-soft;
  color: #fff;
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*--------------------------------------------------------------
Lists
--------------------------------------------------------------*/

ul {
  list-style: disc;
}

li {
  margin-bottom: 3px;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
Main Container
--------------------------------------------------------------*/

.container {
  max-width: $max-width;
  padding: 2rem 15px;
  margin: 0 auto;
}