body, html {
  font: 14px/1.4 $font-family-content;
  color: $text-color-default;
  
  @media (min-width: $screen-md) {
    font-size: 16px;
  }

  @media (min-width: $screen-xl) {
    font-size: 18px;
  }
}

a {
  font-weight: normal;
  text-decoration: none;
  color: $color-primary;

  &:hover {
    opacity: .7;
  }
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-family-title;
  color: $color-primary;
}

ul {

}

li {
  margin-bottom: .3em;
}

strong {
  font-weight: bold;
  color: $color-primary;
}

.container {
  max-width: $max-width;
  padding: 2rem 15px;
  margin: 0 auto;
}

/**
  Unyson full width sections fix
*/
.full-width-section {
  margin-left: -15px;
  margin-right: -15px;
}
