.main-footer {
  background: $color-footer-bg;
  color: #fff;
  text-align: center;

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid $color-soft;

    p {
      margin-bottom: 0;
    }
  }
}

.pre-footer {
  padding-top: 2rem;
  border-top: 1px solid $text-color-default;
  background: $color-footer-bg;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: $color-secondary;
    }
  }

  .container {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
  }

  .widget-area {
    width: 100%;
    padding: 15px;

    @media (min-width: $screen-md) {
      width: calc(100% / 4);
    }

    ul {
      padding-left: 0;
      list-style: none;
    }

    .icon-wrap {
      margin-right: 15px;
    }
  }

  .widget-area-title {
    text-transform: uppercase;
    color: $color-special;
  }
}