.main-footer {
  background: $color-primary;
  color: #fff;

  .container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.pre-footer {
  border-top: 1px solid $text-color-default;

  .container {
    display: flex;
    flex-flow: row wrap;
  }

  .widget-area {
    width: 100%;

    @media (min-width: $screen-md) {
      width: calc(100% / 3);
    }

    ul {
      padding-left: 0;
      list-style: none;
    }

    .icon-wrap {
      color: $color-primary;
      margin-right: 15px;
    }
  }
}