.gallery-item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
  box-shadow: none;
  background: none;
  display: inline-block;
  max-width: 100%;
}

.gallery-item a img {
  display: block;
  backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
  opacity: .6;
}

.gallery-caption {
  display: block;
  text-align: left;
  padding: 0 10px 0 0;
  margin-bottom: 0;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}


/* Gallery widget */
.widget-area {
  .gallery-caption {
    display: none;
  }

  .gallery-item {
    margin: 0;
    padding: 3px;
  }
}