#main-header {
  border-bottom: 1px solid #465363;
  background: $color-primary;

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .menu-toggle {
    display: none;
  }

  .site-title {
    margin: 0;
    font-size: 2rem;

    a {
      color: $color-secondary;
    }
  }

  .site-description {
    color: #fff;
    margin: 0;
  }

  #primary-menu {
    font-family: $font-family-alternative;
    padding: 0;
    margin: 0;
    list-style: none;

    &>.menu-item {
      display: inline-block;

      &.current_page_item a {
        color: $color-secondary;
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}