.two-column-layout {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  flex-flow: row wrap;

  #main {
    width: 100%;

    @media (min-width: $screen-md) {
      width: 70%;
    }
  }

  #secondary {
    padding: 2rem 15px;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 30%;
    }
  }
}